In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
 
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
 
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
 
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [9]:
 
from google.colab import files
uploaded = files.upload()

Saving NSE-Tata-Global-Beverages-Limited.csv to NSE-Tata-Global-Beverages-Limited.csv

In [11]:
data= pd.read_csv("NSE-Tata-Global-Beverages-Limited.csv")

In [12]:
data.head()

         Date    Open    High  ...   Close  Total Trade Quantity  Turnover (Lacs)
0  2018-10-08  208.00  222.25  ...  215.15             4642146.0         10062.83
1  2018-10-05  217.00  218.60  ...  209.20             3519515.0          7407.06
2  2018-10-04  223.50  227.80  ...  218.20             1728786.0          3815.79
3  2018-10-03  230.00  237.50  ...  227.60             1708590.0          3960.27
4  2018-10-01  234.55  234.60  ...  230.90             1534749.0          3486.05

[5 rows x 8 columns]

In [13]:
#data['Date']= pd.to_datetime(data["Date"])

In [14]:
data_df = data[(data['Date'] > "2014-1-1") & (data['Date']< "2016-12-31")]

In [15]:
data_df

           Date    Open    High  ...   Close  Total Trade Quantity  Turnover (Lacs)
438  2016-12-30  121.10  123.30  ...  122.00             1017447.0          1244.54
439  2016-12-29  119.60  122.15  ...  121.10             1025503.0          1241.44
440  2016-12-28  119.20  122.00  ...  119.60              866902.0          1047.42
441  2016-12-27  117.00  121.05  ...  120.55              728501.0           870.77
442  2016-12-26  118.80  118.85  ...  117.00              425216.0           498.73
..          ...     ...     ...  ...     ...                   ...              ...
986  2014-10-10  160.65  163.90  ...  160.25             3624666.0          5845.16
987  2014-10-09  160.45  163.35  ...  161.25             3216539.0          5202.87
988  2014-10-08  158.00  161.00  ...  160.25             1524087.0          2437.49
989  2014-10-07  158.25  161.65  ...  158.80             2284463.0          3656.40
990  2014-10-01  160.00  162.00  ...  158.85             1198264.0          1915.37

[553 rows x 8 columns]

In [16]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 553 entries, 438 to 990
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  553 non-null    object
 1   Open                  553 non-null    float64
 2   High                  553 non-null    float64
 3   Low                   553 non-null    float64
 4   Last                  553 non-null    float64
 5   Close                 553 non-null    float64
 6   Total Trade Quantity  553 non-null    float64
 7   Turnover (Lacs)       553 non-null    float64
dtypes: float64(7), object(1)
memory usage: 38.9+ KB

In [17]:
X_columns = list(data.drop(['Close'], axis=1).columns)
y_column = 'Close'
X_train = data_df[X_columns]
y_train = data_df[y_column]

In [18]:
X_train.shape

(553, 7)

In [19]:
y_train.shape

(553,)

In [20]:
data_test = data[(data['Date'] > "2016-12-31") & (data['Date']< "2019-1-1")]

In [21]:
data_test

           Date    Open    High  ...   Close  Total Trade Quantity  Turnover (Lacs)
0    2018-10-08  208.00  222.25  ...  215.15             4642146.0         10062.83
1    2018-10-05  217.00  218.60  ...  209.20             3519515.0          7407.06
2    2018-10-04  223.50  227.80  ...  218.20             1728786.0          3815.79
3    2018-10-03  230.00  237.50  ...  227.60             1708590.0          3960.27
4    2018-10-01  234.55  234.60  ...  230.90             1534749.0          3486.05
..          ...     ...     ...  ...     ...                   ...              ...
433  2017-01-06  125.40  126.95  ...  124.65             1255021.0          1573.67
434  2017-01-05  124.75  125.65  ...  125.20              503565.0           630.23
435  2017-01-04  125.00  126.05  ...  124.45              656213.0           818.98
436  2017-01-03  122.80  125.40  ...  124.45              580430.0           721.93
437  2017-01-02  122.80  124.20  ...  123.55             1102178.0          1354.06

[438 rows x 8 columns]

In [22]:
X_test = data_test[X_columns]
y_test = data_test[y_column]

In [23]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438 entries, 0 to 437
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  438 non-null    object
 1   Open                  438 non-null    float64
 2   High                  438 non-null    float64
 3   Low                   438 non-null    float64
 4   Last                  438 non-null    float64
 5   Close                 438 non-null    float64
 6   Total Trade Quantity  438 non-null    float64
 7   Turnover (Lacs)       438 non-null    float64
dtypes: float64(7), object(1)
memory usage: 30.8+ KB

In [ ]:
X_test.head()

In [25]:
y_test.shape

(438,)

In [26]:
import datetime as dt
X_train['Date'] = pd.to_datetime(X_train['Date'])
X_train['Date']=X_train['Date'].map(dt.datetime.toordinal)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
 
X_test['Date'] = pd.to_datetime(X_test['Date'])
X_test['Date']=X_test['Date'].map(dt.datetime.toordinal)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [29]:
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import GridSearchCV

In [30]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [31]:
scaler.fit(X_train)
#Rescale both sets using the trained scaler
X_scaled_train = scaler.transform(X_train)
X_scaled_test = scaler.transform(X_test)

In [32]:
param_grid = {
"alpha": [3e-06, 1e-5, 3e-5],
"eta0": [0.01, 0.03, 0.1],
}
lr = SGDRegressor(penalty='l2', max_iter=1000)
grid_search = GridSearchCV(lr, param_grid, cv=5,
scoring='neg_mean_absolute_error')
grid_search.fit(X_scaled_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=SGDRegressor(alpha=0.0001, average=False,
                                    early_stopping=False, epsilon=0.1,
                                    eta0=0.01, fit_intercept=True,
                                    l1_ratio=0.15, learning_rate='invscaling',
                                    loss='squared_loss', max_iter=1000,
                                    n_iter_no_change=5, penalty='l2',
                                    power_t=0.25, random_state=None,
                                    shuffle=True, tol=0.001,
                                    validation_fraction=0.1, verbose=0,
                                    warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [3e-06, 1e-05, 3e-05],
                         'eta0': [0.01, 0.03, 0.1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [33]:
print(grid_search.best_params_)

{'alpha': 3e-05, 'eta0': 0.1}

In [34]:
lr_best = grid_search.best_estimator_
predictions = lr_best.predict(X_scaled_test)

In [35]:
print('MSE: {0:.3f}'.format(
 mean_squared_error(y_test, predictions)))
print('MAE: {0:.3f}'.format(
 mean_absolute_error(y_test, predictions)))
print('R^2: {0:.3f}'.format(r2_score(y_test, predictions)))

MSE: 2.065
MAE: 0.865
R^2: 0.999

In [36]:
print("Accuracy :",lr_best.score(X_scaled_train, y_train))

Accuracy : 0.9993777167013446